*.map

.DS_Store
.idea
.nyc_output
.vscode

/animate
/compiler.*js
/compiler.d.ts
/coverage.lcov
/coverage/
/easing
/index.*js
/internal
/motion
/scratch/
/site/.env
/site/.sessions
/site/__sapper__/
/site/cypress/screenshots/
/site/scripts/community
/site/scripts/svelte-app
/site/src/routes/_components/WhosUsingSvelte.svelte
/site/src/routes/_contributors.js
/site/static/contributors.jpg
/site/static/organisations
/site/static/svelte-app.json
/site/static/workers
/src/compiler/compile/internal_exports.ts
/store
/test/*/samples/_
/test/sourcemaps/samples/*/output.css
/test/sourcemaps/samples/*/output.css.map
/test/sourcemaps/samples/*/output.js
/test/sourcemaps/samples/*/output.js.map
/transition
/types
/yarn-error.log

_actual*.*
_output

node_modules